* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #111111;
}

.button {
  text-decoration: none;
  color: black;
  border: 1px solid #7c7c7c;
  padding: 15px 30px;
  margin: 20px 0;
  display: inline-block;
  font-weight: 300;
  font-family: "Questrial", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.button:hover {
  border: 1px solid #cf9144;
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid lightgray;
  background: white;
  z-index: 100;
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  border-width: 0 1px;
  border-style: solid;
  border-color: lightgray;
}
.header__logo img {
  height: 60px;
}

.nav__list {
  display: flex;
  list-style: none;
}
.nav__item a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.nav__btn {
  width: 40px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.nav__btn__line {
  width: 100%;
  height: 2px;
  background: black;
}

@media screen and (max-width: 1440px) {
  .nav {
    display: none;
  }
  .nav__btn {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0;
  }
  .header__container {
    padding: 0 20px;
  }
}
/* WELCOME SCREEN */
.welcome-screen {
  margin-top: 100px;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.welcome-screen__text {
  display: flex;
  justify-content: center;
  flex: 2;
  padding: 10vh 5vw;
  font-size: 14px;
}
.welcome-screen__text__container {
  width: 80%;
}
.welcome-screen__text__container h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.welcome-screen__text__container h2 {
  font-family: "Questrial", sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 30px 0;
  color: #cf9144;
}
.welcome-screen__text__container p {
  font-size: 1.3em;
  font-weight: 300;
  width: 70%;
  margin-bottom: 20px;
  line-height: 1.6;
}
.welcome-screen__image {
  flex: 3;
  background: url("../../img/welcome-screen-bg.webp") no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .welcome-screen__text__container p {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .welcome-screen {
    flex-direction: column-reverse;
  }
  .welcome-screen__image {
    width: 100%;
    height: 400px;
    flex: unset;
  }
}
@media screen and (max-width: 768px) {
  .welcome-screen__text__container {
    width: 100%;
  }
  .welcome-screen__text h2 {
    font-size: 2em;
  }
}
/* WHY US */
.why-us {
  width: 100%;
  text-align: center;
}
.why-us__container {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto;
}
.why-us__header h1 {
  font-family: "Questrial", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
}
.why-us__header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #cf9144;
  margin: 50px 0;
}
.why-us__boxes {
  display: flex;
}
.why-us__box {
  flex: 1;
  padding: 50px;
}
.why-us__box span {
  font-size: 7em;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1.5px lightgray;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
.why-us__box h3 {
  font-family: "Questrial", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #00afd4;
}
.why-us__box article {
  margin: 30px 0;
  line-height: 1.4;
  font-style: italic;
  color: #7c7c7c;
}
.why-us__box p {
  font-size: 1em;
  color: #cf9144;
  letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
  .why-us__boxes {
    flex-direction: column;
  }
}
/* WHAT WE DO */
.what-we-do {
  width: 100%;
  display: flex;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: lightgray;
}
.what-we-do__image {
  background: url("../../img/what-we-do-bg.webp") no-repeat center top;
  background-size: cover;
  flex: 3;
}
.what-we-do__text {
  flex: 2;
  padding: 10vh 5vw;
  font-size: 14px;
}
.what-we-do__text h2 {
  font-family: "Questrial", sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 30px 0;
  color: #cf9144;
}
.what-we-do__text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  width: 70%;
}
.what-we-do__text ul {
  margin: 50px 0;
  padding-left: 20px;
}
.what-we-do__text ul li {
  margin: 5px 0;
  letter-spacing: 1px;
}

@media screen and (max-width: 1440px) {
  .what-we-do__text__container h3 {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .what-we-do {
    flex-direction: column;
  }
  .what-we-do__image {
    width: 100%;
    height: 400px;
    flex: unset;
  }
}
@media screen and (max-width: 768px) {
  .what-we-do__text__container {
    width: 100%;
  }
  .what-we-do__text h2 {
    font-size: 2em;
  }
}
/* FOOTER */
.footer {
  width: 100%;
  padding: 100px 0;
  background: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.8;
  border-top: 1px solid lightgray;
}
.footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.footer__logo img {
  width: 100px;
}
.footer__nav a {
  text-decoration: none;
  color: black;
}
.footer__message h3 {
  color: #00afd4;
}

@media screen and (max-width: 992px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__box {
    width: 100%;
    align-items: center;
    margin: 30px 0;
    text-align: center;
  }
}
/* SERVICES */
.services__title {
  margin-top: 100px;
  width: 100%;
  background: url("../../img/bg.png") no-repeat center top;
  background-size: cover;
}
.services__title h1 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services__details {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto;
}
.services__heading {
  margin: 100px 30px 50px 30px;
}
.services__heading h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  color: #cf9144;
  margin-bottom: 20px;
}
.services__heading h4 {
  font-family: "Questrial", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}
.services__item {
  display: flex;
  margin-bottom: 100px;
}
.services__item__image {
  flex: 3;
}
.services__item__text {
  flex: 2;
  padding: 50px;
  line-height: 1.5;
}
.services__item__text h2 {
  color: #00afd4;
  font-family: "Montserrat", sans-serif;
}
.services__item__text p {
  margin: 20px 0;
}
.services__item__text ol {
  padding-left: 30px;
}
.services__item-reverse {
  flex-direction: row-reverse;
}
.services__paint {
  background: url("../../img/painter.webp") no-repeat center top;
  background-size: cover;
}
.services__insulation {
  background: url("../../img/insulation-2.webp") no-repeat center top;
  background-size: cover;
}
.services__tiler {
  background: url("../../img/tiler.webp") no-repeat center top;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .services__item {
    flex-direction: column-reverse;
  }
  .services__item__image {
    height: 400px;
    width: 100%;
    flex: unset;
  }
}
/* CONTACT */
.contact-header {
  margin-top: 100px;
  width: 100%;
  background: url("../../img/bg.png") no-repeat center top;
  background-size: cover;
}
.contact-header h4 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 40px;
  display: flex;
}
.contact__image {
  background: url("../../img/contact.jpg") no-repeat center top;
  background-size: cover;
  flex: 1;
}
.contact__details {
  flex: 1;
  padding: 200px 50px;
}
.contact__details h1 {
  color: #00afd4;
  font-family: "Montserrat", sans-serif;
}
.contact__details h1 span {
  color: #cf9144;
}
.contact__details h3 {
  margin: 40px 0 10px 0;
  font-family: "Questrial", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.contact__details p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
  .contact {
    flex-direction: column-reverse;
  }
  .contact__image {
    height: 400px;
    flex: unset;
  }
  .contact__details {
    padding: 0 50px 30px 50px;
  }
}
/* OUR TEAM */
.our-team-header {
  margin-top: 100px;
  width: 100%;
  background: url("../../img/bg.png") no-repeat center top;
  background-size: cover;
}
.our-team-header h4 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.our-team {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 40px;
  display: flex;
}
.our-team__text {
  flex: 1;
  padding-right: 100px;
}
.our-team__text h2 {
  font-family: "Questrial", sans-serif;
  color: #cf9144;
  font-size: 1.8em;
  font-weight: 400;
}
.our-team__text p {
  line-height: 1.6;
  margin: 20px 0 50px 0;
}
.our-team__image {
  flex: 1;
  background: url("../../img/team.jpg") no-repeat top right;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .our-team {
    flex-direction: column;
  }
  .our-team__text {
    padding: 0;
  }
  .our-team__image {
    height: 400px;
    flex: unset;
  }
}
/* HOW WE WORK */
.how-we-work-header {
  margin-top: 100px;
  width: 100%;
  background: url("../../img/bg.png") no-repeat center top;
  background-size: cover;
}
.how-we-work-header h4 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.how-we-works {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 40px;
}
.how-we-works__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how-we-works__item__image {
  flex: 1;
  margin: 50px 0 100px 0;
}
.how-we-works__item__image img {
  width: 500px;
  border-radius: 50%;
}
.how-we-works__item__text {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 100px;
  text-align: center;
}
.how-we-works__item__text h2 {
  color: #cf9144;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
}
.how-we-works__item__text p {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .how-we-works__item__image {
    display: flex;
    justify-content: center;
  }
  .how-we-works__item__image img {
    width: 90%;
  }
  .how-we-works__item__text {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
