@use "modules/modules.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: modules.$basic-font;
}

.button {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(124, 124, 124);
    padding: 15px 30px;
    margin: 20px 0;
    display: inline-block;
    font-weight: 300;
    font-family: modules.$title-mainfont;
    letter-spacing: 1px;
    transition: .5s ease-in-out;
    position: relative;

    &:hover {
        border: 1px solid modules.$gold;
    }
}

/* HEADER */
.header {
    width: 100%;
    height: 100px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid modules.$lightgray;
    background: white;
    z-index: 100;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        border-width: 0 1px;
        border-style: solid;
        border-color: modules.$lightgray;
    }

    &__logo img {
        height: 60px;
    }
}

.nav {
    
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        
        a {
            text-decoration: none;
            color: black;
            margin-left: 30px;
            font-size: 14px;
            letter-spacing: 1px;
            font-family: modules.$title-subfont;
        }
    }

    &__btn {
        width: 40px;
        height: 20px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        &__line {
            width: 100%;
            height: 2px;
            background: black;
        }
    }
}

@media screen and (max-width: 1440px) {
    .nav {
        display: none;

        &__btn {
            display: flex;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0;

        &__container {
            padding: 0 20px;
        }
    }
}

/* WELCOME SCREEN */
.welcome-screen {
    margin-top: 100px;
    display: flex;
    border-bottom: 1px solid modules.$lightgray;

    &__text {
        display: flex;
        justify-content: center;
        flex: 2;
        padding: 10vh 5vw;
        font-size: 14px;

        &__container {
            width: 80%;

            h3 {
                font-family: modules.$title-subfont;
                font-weight: 400;
                text-transform: uppercase;
            }
    
            h2 {
                font-family: modules.$title-mainfont;
                font-size: 3em;
                font-weight: 400;
                margin: 30px 0;
                color: modules.$gold;
            }
    
            p {
                font-size: 1.3em;
                font-weight: 300;
                width: 70%;
                margin-bottom: 20px;
                line-height: 1.6;
            }
        }
    }

    &__image {
        flex: 3;
        background: url("../../img/welcome-screen-bg.webp") no-repeat center center;
        background-size: cover;
    }
}

@media screen and (max-width: 1440px) {
    .welcome-screen {

        &__text {

            &__container {

                p {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .welcome-screen {
        flex-direction: column-reverse;

        &__image {
            width: 100%;
            height: 400px;
            flex: unset;
        }
    }
}

@media screen and (max-width: 768px) {
    .welcome-screen {

        &__text {

            &__container {
                width: 100%;
            }

            h2 {
                font-size: 2em;
            }
        }
    }
}

/* WHY US */
.why-us {
    width: 100%;
    text-align: center;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 100px auto;
    }

    &__header {

        h1 {
            font-family: modules.$title-mainfont;
            font-size: 2.5em;
            font-weight: 400;
        }

        h2 {
            font-family: modules.$title-subfont;
            font-weight: 400;
            color: modules.$gold;
            margin: 50px 0;
        }
    }

    &__boxes {
        display: flex;
    }

    &__box {
        flex: 1;
        padding: 50px;

        span {
            font-size: 7em;
            font-family: modules.$title-subfont;
            font-weight: 900;
            color: transparent;
            -webkit-text-stroke: 1.5px modules.$lightgray;
            -webkit-font-smoothing: antialiased;
            user-select: none;
        }

        h3 {
            font-family: modules.$title-mainfont;
            font-size: 1.8em;
            font-weight: 400;
            color: modules.$blue;
        }

        article {
            margin: 30px 0;
            line-height: 1.4;
            font-style: italic;
            color: rgb(124, 124, 124);
        }

        p {
            font-size: 1em;
            color: modules.$gold;
            letter-spacing: 1px;
        }
    }
}

@media screen and (max-width: 992px) {
    .why-us {

        &__boxes {

            flex-direction: column;
        }
    }
}

/* WHAT WE DO */
.what-we-do {
    width: 100%;
    display: flex;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: modules.$lightgray;

    &__image {
        background: url("../../img/what-we-do-bg.webp") no-repeat center top;
        background-size: cover;
        flex: 3;
    }

    &__text {
        flex: 2;
        padding: 10vh 5vw;
        font-size: 14px;

        h2 {
            font-family: modules.$title-mainfont;
            font-size: 3em;
            font-weight: 400;
            margin: 30px 0;
            color: modules.$gold;
        }

        h3 {
            font-family: modules.$title-subfont;
            font-weight: 400;
            line-height: 1.6;
            width: 70%;
        }

        ul {
            margin: 50px 0;
            padding-left: 20px;

            li {
                margin: 5px 0;
                letter-spacing: 1px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .what-we-do {

        &__text {

            &__container {

                h3 {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .what-we-do {
        flex-direction: column;

        &__image {
            width: 100%;
            height: 400px;
            flex: unset;
        }
    }
}

@media screen and (max-width: 768px) {
    .what-we-do {

        &__text {

            &__container {
                width: 100%;
            }

            h2 {
                font-size: 2em;
            }
        }
    }
}

/* FOOTER */
.footer {
    width: 100%;
    padding: 100px 0;
    background:rgb(252, 252, 252);
    font-family: modules.$title-subfont;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.8;
    border-top: 1px solid modules.$lightgray;

    &__container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }

    &__logo {
        img {
            width: 100px;
        }
    }

    &__nav {

        a {
            text-decoration: none;
            color: black;
        }
    }

    &__message {
        h3 {
            color: modules.$blue;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {

        &__container {
            flex-direction: column;
        }

        &__box {
            width: 100%;
            align-items: center;
            margin: 30px 0;
            text-align: center;
        }
    }
}

/* SUBPAGES */
.subpage {
    margin-top: 100px;

    &__title {
        position: relative;

        h1 {
            padding: 200px 0;
            text-align: center;
            font-size: 6em;
            color: white;
            font-family: modules.$title-subfont;
            letter-spacing: 5px;
            text-shadow: 1px 1px 10px black;
            z-index: 100;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .2);
            z-index: -1;
        }
    }
}

@media screen and (max-width: 768px) {
    .subpage {

        &__title {

            h1 {
                font-size: 3em;
                padding: 100px 0;
            }
        }
    }
}

/* SERVICES */
.services {

    &__title {
        background: url("../../img/insulation.webp") no-repeat center top;
        background-size: cover;
    }

    &__details {
        width: 100%;
        max-width: 1440px;
        margin: 100px auto;
    }

    &__heading {
        margin: 100px 30px 50px 30px;

        h3 {
            font-family: modules.$title-subfont;
            font-size: 1.6em;
            color: modules.$gold;
            margin-bottom: 20px;
        }

        h4 {
            font-family: modules.$title-mainfont;
            font-size: 1.2em;
            font-weight: 200;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 100px;

        &__image {
            flex: 3;
        }

        &__text {
            flex: 2;
            padding: 50px;
            line-height: 1.5;

            h2 {
                color: modules.$blue;
                font-family: modules.$title-subfont;
            }

            p {
                margin: 20px 0;
            }

            ol {
                padding-left: 30px;
            }
        }
    }

    &__item-reverse {
        flex-direction: row-reverse;
    }

    &__paint {
        background: url("../../img/painter.webp") no-repeat center top;
        background-size: cover;
    }

    &__insulation {
        background: url("../../img/insulation-2.webp") no-repeat center top;
        background-size: cover;
    }

    &__tiler {
        background: url("../../img/tiler.webp") no-repeat center top;
        background-size: cover;
    }
}

@media screen and (max-width: 992px) {
    .services {

        &__item {
            flex-direction: column-reverse;

            &__image {
                height: 400px;
                width: 100%;
                flex: unset;
            }
        }
    }
}

/* CONTACT */
.contact-header {
    margin-top: 100px;
    width: 100%;
    background: url("../../img/contact-bg.png") no-repeat center top;
    background-size: cover;

    h4 {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px;
        font-family: modules.$title-mainfont;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.contact {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 40px;
    display: flex;
    color: #111111;

    &__image {
        background: url("../../img/contact.jpg") no-repeat center top;
        background-size: cover;
        flex: 1;
    }

    &__details {
        flex: 1;
        padding: 200px 50px;

        h1 {
            color: modules.$blue;
            font-family: modules.$title-subfont;

            span {
                color: modules.$gold;
            }
        }

        h3 {
            margin: 40px 0 10px 0;
            font-family: modules.$title-mainfont;
            font-size: 22px;
            font-weight: 500;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 1px;
        }
    }
}

@media screen and (max-width: 992px) {
    .contact {
        flex-direction: column-reverse;

        &__image {
            height: 400px;
            flex: unset;
        }

        &__details {
            padding: 0 50px 30px 50px;
        }
    }
}